/* Page Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Heading */
h1 {
    background: #1e3c72;
    color: white;
    padding: 15px;
    margin: 0;
}

/* Form Container */
.form-container {
    background: white;
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

/* Inputs */
input,
select {
    width: 80%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* Button */
button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

/* Table Container */
.table-container {
    width: 80%;
    margin: auto;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 8px gray;
}

th {
    background: #1e3c72;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
}

/* Delete Button */
.delete-btn {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.delete-btn:hover {
    color: darkred;
}
